<!-- Loop over objects in the posts array -->
{{#each posts as |post| }}
  <div class="post-card">
    <a class="post-card-archor" href="/post/{{post.id}}">
      <!-- Post card header section -->
      <div class="post-card-header title-header">
        <div>{{post.title}}</div> <!-- Display post title -->
        <div class="post_creator"> Posted by {{post.username}} {{format_date post.date_created}}</div>
        <!-- Display post creator's username and creation date -->
      </div>
      <!-- Post card body section -->
      <div class="post-card-body">
        <p>{{post.description}}</p> <!-- Display post description -->
      </div>
      
      <!-- Display comments -->
      {{#if post.comments}}
        <div>
          <h2>Comments</h2>
          <ul>
            {{#each post.comments as |comment| }}
              <li>{{comment.comment}} by {{comment.user.username}} on {{format_date comment.date_created}}</li>
            {{/each}}
          </ul>
        </div>
      {{/if}}
    </a>
  </div>
{{/each}}

<!-- Button to add a new post -->
<div>
  <button class="btn pst-btn"><a href="/blog/new" class="add-post">Add Post </a> </button>
</div>
