{{#each posts as |post| }}
<div class="post-card">
    <a class="post-card-archor" href="/post/{{post.id}}">
        <div class="post-card-header title-header">
            <div>{{post.title}}</div>
            <div class="post_creator">
                Posted by {{post.username}} {{#if post.date_created}}{{format_date post.date_created}}{{/if}}
            </div>
        </div>
        <div class="card-body">
            <p>{{post.description}}</p>
        </div>
    </a>
</div>
{{/each}}
