<div class="post-card">
    <div class="post-card-header title-header">
        <div>{{post.title}}</div>
        <div class="post_creator">{{post.user.name}} {{format_date post.date_created}}</div>
    </div>
    <div class="post-card-body">
        <p>{{post.description}}</p>
    </div>
</div>

{{#if post.comments.length}}
<div>
    <h2>Comments</h2>
    <hr class="solid">
</div>
{{/if}}

{{#if post.comments.length}}
{{#each post.comments as |comment|}}
<div class="post-card">
    <div class="card-body">
        <p>{{comment.comment}}</p>
        <p>{{comment.user.name}} {{format_date comment.date_created}}</p>
    </div>
</div>
{{/each}}
{{/if}}

{{#if post.comments.length}}
<div>
    <h2>Add Comment</h2>
    <hr class="solid">
</div>
{{/if}}

<form class="form comment-form" id="comment-form" autocomplete="off">
    <div class="form-group">
        <div class="comment-title">
            <input class="form-input" id="comment-details-keyed" placeholder="Your Comment"/>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Post Comment</button>
    </div>
</form>

<script src="/public/js/post.js"></script>
